basecfg~=2.1.1
baselog~=2.0.1
beautifulsoup4~=4.12.3
black~=24.4.2
git+https://github.com/agronholm/sqlacodegen@master
isort~=5.13.2
libcst~=1.4.0
psycopg2-binary~=2.9.9
requests~=2.32.3
sqlalchemy~=2.0.31
